/* Variables para colores */
:root {
    --text-color: rgb(93, 95, 121);
    --text-alt-color: rgb(255, 255, 255);
    --contrast-color-1: rgb(245, 157, 35);
    --contrast-color-2: rgb(240, 93, 80);
    --gray-background: rgb(227, 228, 230);
}

/*Clase para esconder un elemento que será visible únicamente a los lectores de pantalla (aplicado para mejorar la accesibilidad)*/
.sr {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    font-weight: 400;
    color: black;
    line-height: 1.5;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    color: var(--contrast-color-1);
}
h1 {
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
}
ul {
    padding-left: 0;
    list-style: none;
}
img {
    object-fit: contain;
    max-width: inherit;
}
/* contenedores del sitio */
header {
    min-height: fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer {
    height: 15vh;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: black;
    color: var(--text-alt-color);
    height: auto;
}

main {
    padding-top: 50px;
    padding-bottom: 50px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
nav ul li {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--contrast-color-1);
    margin-right: 5px;
}
/* Menú de navegación */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

@media (min-width: 1200px) {
    nav ul li {
        display: inline-block;
    }
    nav {
        justify-content: space-between;
        flex-direction: row;
    }
}
.logospan {
    margin-bottom: 10px;
    color: black;
    font-weight: 700;
}

/* pie de página */
footer a {
    color: var(--text-alt-color);
}
footer a:hover {
    color: var(--contrast-color-2);
}
footer .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
footer form {
    margin: 20px 0 30px 0;
    min-width: 45%;
    text-align: center;
}
input[type="email"] {
    background-color: black;
    border-color: black;
    border-bottom: 1px white solid;
    text-align: center;
    color: var(--gray-background);
    width: 100%;
    font-size: 1rem;
    margin-bottom: 10px;
    padding: 10px;
}
input[type="checkbox"] {
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: var(--contrast-color-2);
    padding: 7px;
    color: var(--text-alt-color);
}

footer nav ul li {
    color: var(--text-alt-color);
    font-size: 1rem;
    font-weight: normal;
    display: inline-block;
    text-align: center;
}
footer nav {
    margin-bottom: 20px;
}
footer .tiny {
    font-size: 0.7rem;
    text-align: center;
}
@media (max-width: 426px) {
    footer nav ul li {
        display: list-item;
    }
}

/* index.html */

#introduction {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.izquierda {
    background-color: var(--contrast-color-2);
    padding: 20px 40px;
    text-align: center;
}

.derecha {
    background-color: var(--contrast-color-1);
    padding: 60px 30px;
    color: black;
}

.derecha p {
    font-size: 1.2rem;
}
.texto h1 {
    text-align: left;
}
@media (max-width: 1200px) {
    #introduction {
        flex-direction: column;
    }
    .izquierda img {
        object-fit: contain;
        max-width: 100%;
    }
}

#second {
    text-align: center;
    margin: 50px 0;
}
#second > a {
    color: var(--contrast-color-1);
}
#second > a:hover {
    color: var(--text-color);
}
.referrals {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 225px);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
    justify-content: center;
    justify-items: center;
}
.referral {
    max-width: 225px;
    text-align: left;
}

.name {
    font-weight: 700;
    font-size: 0.9rem;
}
.field {
    font-size: 0.8rem;
}
@media (max-width: 1025px) {
    .referrals {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 50px;
    }
}
@media (max-width: 426px) {
    .referrals {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 20px;
    }
}

/* Página referentes */
.innernav {
    margin-bottom: 20px;
}
.innernav ul {
    width: 100%;
    margin: auto;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.innernav ul li {
    display: inline;
    text-align: center;
    font-size: 0.85rem;
}
.innernav ul li::after {
    content: "·";
    padding-left: 5px;
}
.innernav ul li:last-child::after {
    content: "";
    padding-left: 5px;
}
.innernav a {
    color: var(--contrast-color-1);
}
.innernav a:hover {
    color: var(--text-color);
}
.pagetitle {
    text-align: center;
}

.rlistitem {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.fullref p {
    color: var(--text-color);
}
.fullref a {
    color: var(--contrast-color-1);
}
.fullref a:hover {
    color: var(--text-color);
}
.fullref img{
    max-width: 100%;
}
.numbertitle {
    color: var(--text-color);
}
.number {
    color: var(--contrast-color-2);
    text-align: left;
}

@media (min-width: 769px) {
    .innernav {
        max-width: 200px;
        display: initial;
    }
    .innernav ul {
        flex-direction: column;
        width: auto;
        margin: 0;
    }
    .innernav ul li {
        text-align: left;
    }
    .innernav ul li::after {
        content: "";
        padding-left: 5px;
    }
    .navplusreflist {
        display: grid;
        grid-template-columns: 15% 85%;
    }
}

@media (min-width: 426px) {
    .rlistitem {
        max-height: 150px;
        flex-direction: row;
    }
    .rlistitem img {
        object-fit: contain;
        height: 100%;
        flex-direction: row;
    }
    .fullref {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .fullref img {
        margin-right: 10px;
    }
    .numbertitle {
        min-width: 20%;
    }
}

/* 11 de febrero */
article {
    text-align: center;
}
article p {
    text-align: left;
    margin: 20px 0;
    color: var(--text-color);
}
.grayfigure {
    background-color: var(--gray-background);
    padding: 15px;
    margin: 30px auto;
    max-width: 1000px;
}
.grayfigure blockquote {
    text-align: left;
    color: black;
    margin: 0 0 10px 0;
}
.grayfigure figcaption {
    font-size: 0.7rem;
    text-align: left;
}
.grayfigure figcaption::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 5px;
    margin-right: 10px;
    background-color: var(--contrast-color-2);
}

/* video frame responsive */
figure.video-fluid {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow: hidden;
    max-width: 768px;
}

iframe.video-fluid-item {
    width: 100%;
    border: 0;
}

.video-fluid figcaption {
    text-align: left;
    color: var(--text-color);
}

/* iniciativas */
dl a {
    color: var(--contrast-color-1);
}
dl a:hover {
    color: var(--text-color);
}
dt {
    color: rgb(93, 95, 121);
    font-weight: 900;
    font-size: 1.2rem;
    margin-top: 10px;
}

dt::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-color: var(--contrast-color-2);
}
dd {
    margin-left: 25px;
    color: var(--text-color);
    margin-bottom: 10px;
}
